*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.main{
    height: 500px;
    max-width: 100vw;
    background-color: antiquewhite;
    background-image: url('SPSU-Banner-1.jpg');
    background-size: cover;
    background-position: bottom;
}

nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.img1{
    margin-left: 30px;
    height: 40px;
    width: 100px;
    
}

ul{
    list-style: none;
    display: flex;

}
li{
    font-size: small;
    margin-left:40px;
    color: white;
}
li button{
    background-color: transparent;
    color: white;
    border: none;
}
.btn-p1{
    margin-left: 30px;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    color: #efc600;
    font-size: 1rem;
    font-weight: 300;
}

.box-btw{
    height: 80px;
    width: 70%;
    border: 0.5px solid rgb(174, 169, 169);
    margin: 0 15%;
    margin-top: -40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.inp1{
    height: 47px;
    width: 300px;
    background-color: white;
    border: 0.2px solid rgb(146, 141, 141);
    text-align: left;
    padding-left: 20px;
}
.btn2{
    height: 50px;
    width: 200px;
    background-color: white;
    border: 0.2px solid rgb(146, 141, 141);
    text-align: left;
    padding-left: 20px;
}
.btn2 select{
    border: none;
    background-color: transparent;
    margin-left: 20px;
}
.btn4{
    height: 50px;
    width: 150px;
    background-color:#efc600;
    color: white;
    border: none;
}

button i{
    margin-right: 10px;
}

#h1{
    color: #2c00ef;
}

.text{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
h2{
    margin-right: 6px;
}

.category{
    height: 200px;
    width: 70%;
    margin: 0 15%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.c1{
    height: 325px;
    width: 325px;
    border: 0.5px solid rgb(105, 101, 101);
    text-align: center;
    
}
.img2{
    height: 180px;
    width: 325px;
}
.c1 p{
    margin-top: 30px;
}
.btn5{
    height: 40px;
    width: 80px;
    margin-top: 20px;
    background-color: white;
    border: 0.2px solid rgb(105, 101, 101);
    border-radius: 20px;
    background-color: #2c00ef;
    color: white;
}